<div class="grid grid-cols-2 h-[500px] w-full">
    <div class="pl-20 flex flex-col justify-center">
        <div class="text-6xl font-medium tracking-tighter text-primary">
            Secure storage for your team
        </div>
        <div class="text-2xl mt-2">
            Store documents and collaborate with your team, <br /> on the go.
        </div>
        <div class="flex gap-4 mt-16">
            <a class="bg-primary text-white px-4 py-2 rounded text-md" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
            <a class="bg-slate-200 text-primary px-10 py-2 rounded text-md" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
    <div class="flex justify-center">
        <img class="h-[500px]" src="~/images/metalduck.png" alt="metalduck" />
    </div>
</div>

<div>
    <div class="text-4xl font-medium tracking-tight pl-20 mt-4 text-center">Benefits</div>

    <div class="px-20 grid grid-cols-5 gap-10 mt-10">
        <div class="col-span-2 flex flex-col justify-center gap-10">
            <div class="text-3xl font-medium">
                Secure Storage
            </div>

            <div class="text-3xl font-medium">
                Beautiful User Experience
            </div>

            <div class="text-3xl font-medium">
                Easy Collaboration
            </div>

            <div class="text-3xl font-medium">
                File Search
            </div>
        </div>

        <div class="flex justify-center col-span-3 border border-primary p-2 border-2 rounded-lg shadow-2xl">
                <img class="rounded-lg" src="~/images/homepage.png" alt="homepage" />
        </div>
    </div>
</div>

<div class="px-20 mt-20 flex items-center flex-col">
    <div class="text-4xl font-medium tracking-tight">How it works?</div>

    <div class="flex flex-col gap-4 mt-10">
        <div class="flex gap-4 items-center text-2xl tracking-tight">
            <div class="w-8 h-8 rounded-full bg-primary text-center text-white font-bold">1</div>
            <div>Upload files so that you want to share with your team.</div>
        </div>

        <div class="flex gap-4 items-center text-2xl tracking-tight">
            <div class="w-8 h-8 rounded-full bg-primary text-center text-white font-bold">2</div>
            Get your documents approved from the Management.
        </div>

        <div class="flex gap-4 items-center text-2xl tracking-tight">
            <div class="w-8 h-8 rounded-full bg-primary text-center text-white font-bold">3</div>
            Give access to the users that you want to collaborate with.
        </div>
    </div>
</div>

<div class="px-20 flex flex-col items-center mt-20">
    <div class="text-4xl font-medium tracking-tight">Testimonials</div>

    <div class="grid grid-cols-2 mt-10 gap-20 text-xl tracking-wide">
        <div class="shadow border border-primary border-1 rounded-lg bg-primary text-white p-4">
            <div class="italic">
                "We’ve been using <span class="font-bold">metalduck</span> for six months, and it’s a game-changer. The easy-to-use interface and secure sharing options have streamlined our file management and boosted our team’s productivity. Highly recommended!"
            </div>
            <div class="mt-8 font-bold">— Sarah L., Project Manager</div>
        </div>
        <div class="shadow border border-primary border-1 rounded-lg bg-primary text-white p-4">
            <div class="italic">
                "As a remote team, <span class="font-bold">metalduck</span> has been invaluable. It’s simple to use, keeps our files organized, and makes collaboration a breeze. It’s exactly what we needed to improve our workflow!"
            </div>
            <div class="mt-[60px] font-bold">— Michael T., Development Lead</div>
        </div>
    </div>
</div>

<div class="w-full mt-20 flex justify-center mb-40">
    <a class="mt-20 bg-primary text-white px-20 py-2 rounded text-2xl" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
</div>