@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="flex items-center gap-4">
        <a class="text-sm" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="border rounded border-red-500 text-red-500 px-4 py-1 text-sm">Logout</button>
        </form>
    </div>
}
else
{
    <div class="flex gap-4">
        <a class="bg-primary text-white px-4 py-2 rounded" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
        <a class="bg-slate-200 text-primary px-4 py-2 rounded" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}

